body {
    margin: 0;
    box-sizing: border-box;
}

canvas {
    border: 1px dotted black;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

button {
    margin: 10px auto;
    display: block;
    padding: 10px 30px;
    background-color: greenyellow;
}

aside {
    padding: 50px 50px;
}


