@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    
}

canvas {
    border: 1px dotted black;
    background-color: black;
     
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    
   
}

button {
    margin: 10px auto;
    display: block;
    padding: 10px 30px;
    background-color: greenyellow;
    
}

.aside-bar {
    padding: 50px 50px;
    background-color: black;
    color: rgb(104, 255, 0);
    font-size: 24px;
}


.ready{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 100px;
    z-index: 2;
    top: 30%;
    left: 25%;
    font-size: 80px;
    background-color:black;
    color: rgb(104, 255, 0);
    padding: 0px 100px;
    border-radius: 20px;
}




